@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color:white;
    padding:10px 20px;
    margin-right: 12px;
    cursor: pointer;
    transition: 1.5s ease all;
    border-radius: 50px;
    object-position: center;
    }

    .imgCana{
        width: 50%;
        height:50%;
    }
}

