@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color:white;
    padding:10px 20px;
    margin-right: 12px;
    cursor: pointer;
    transition: 1.5s ease all;
    border-radius: 50px;
    object-position: center;
    }

    .TT1{
        margin-top: 30;
        font-size: 60px;
        font-family: 'Muli',sans-serif;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
        background: rgb(248, 203, 4) 100px;  
        color: transparent;
        -webkit-background-clip: text;        
    }

    .imgCana{
        width: 100%;
        height:50%;
    }

    .download{
        margin-top: 10px;
        width: 40px;
        height:50%;
        margin: auto;       
    }
}

